<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">rl kslt</h1>
      <p class="lead text-muted">Kısaltmak istediğiniz web sitesinin adresini aşağıdaki kutucuğa yazıp, "kslt" düğmesine bas.</p>
     
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12">
           {{#if user}}
              {{#if errors}}
                {{#each errors}}
                    <div class="alert alert-danger">
                        {{msg}}               
                    </div>
                {{/each}}
              {{/if}}
          <form method="POST" action="/api/url/shorten">
            <div class="input-group mb-3">
              <input type="url" name="longUrl" id="longUrl" class="form-control" placeholder="Enter url ('http://...')" required>
              <input type="submit" value="kslt" class="btn btn-primary ml-3 pl-4 pr-4">
            </div>
          </form>
          {{else}}
          <h2 class="text-center">Url kısaltmak için giriş yapınız.</h2>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

</main>